* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-image: url(../img/494d197041849a54325c3c71e6b7892d.jpg);
}

.starter {
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgba(199, 208, 204, 0.7);
  width: 1000px;
  height: 130px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.description {
  padding-top: 10px;
}

.button {
  margin: 16px auto;
  font-size: 40px;
  padding: 16px 20px;
  background-color: #808080;
  box-shadow: 0 0.3em 0 #404040;
}

.button:hover {
  opacity: 0.7;
}

.button:active {
  margin-top: 0.2em;
  transform: translateY(4px);
  box-shadow: 0 0.1em 0 #404040;
}

.container {
  width: 1000px;
  height: 400px;
  background-color: rgb(51, 106, 188);
  margin: 0 auto;
  display: flex;
}

.user_section {
  width: 100%;
  height: 400px;
  background-color: #794dca;
  border-right: 1px solid black;
}

.computer_section {
  width: 100%;
  height: 400px;
  background-color: #794dca;
}

.toggle_box_1,
.toggle_box_2 {
  width: 200px;
  height: auto;
  background-color: rgb(156, 156, 156);
  opacity: 0.9;
  position: fixed;
  z-index: 2;
}

.toggle_box_1 p,
.toggle_box_2 p {
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.user_box,
.computer_box {
  border: 1px solid black;
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.user_box p,
.computer_box p {
  text-align: center;
  font-size: 30px;
  background-color: white;
  border-bottom: 1px solid black;
}

.user_box img,
.computer_box img {
  width: 100%;
  height: 300px;
  position: relative;
}

.stamp {
  background-color: white;
  border: 10px solid red;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  padding-top: 25px;
  width: 380px;
  height: 130px;
  /* line-height: 90px; */
  letter-spacing: 0.5rem;
  color: red;
  transform: rotate(-25deg);
  transition: ease;
}

.user_stamp {
  position: absolute;
  top: 280px;
  left: 320px;
  display: none;
}

.computer_stamp {
  position: absolute;
  top: 280px;
  left: 800px;
  display: none;
}

.wrapper {
  background-color: rgba(199, 208, 204, 0.7);
  height: 570px;
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.wrapper p {
  text-align: center;
  font-size: 18px;
}

.wrapper h3 {
  text-align: center;
  font-weight: bold;
}

.wrapper .left {
  text-align-last: left;
  margin-left: 30px;
}

.wrapper .right {
  text-align: right;
  margin-right: 30px;
}

/* 新しいタイトル */
h1 {
  padding-top: 30px;
  font-weight: bold;
  color: rgb(106, 78, 162);
  font-size: 35px;
} 


/* カウントダウン */
.countDownTime {
  position: absolute;
  top: 1.5rem;
  right: 10rem;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(202, 82, 87);
}

/* quiz.html */
.quiz_box {
  width: 1280px;
  margin: 0 auto;
  padding: 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 30px;
}

.btn {
  background-color: rgb(130, 103, 181);
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 0 30px rgb(78, 42, 90);
}

.quiz_container {
  width: 600px;
  margin: 0 auto;  
  padding: 20px 10px;
}

.quiz_container p {  
  font-size: 32px;
}

.quiz_select_box{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.quiz_select_box li {  
  width: 200px;
  padding: 10px 5px;
  text-align: center;
  font-size: 28px;
}